#container {
    display: flex;
}

#leftPanel {
    background-color: aquamarine;
}

#rightPanel {
    background-color: white;
}

.navbar {
    min-height: 95vh;
    max-height: 95vh;
    width: 10vw;
    border-radius: .8em;
    padding: 0.5rem;
    font-family: 'Inter', sans-serif;
}

.nav_item {
    background-color: wheat;
    padding: 0.5rem;
}

.main_content {
    width: 100%;
    margin-left: 2.5rem;
}